:root{
    --white:#fff;
    --black:black;
    --purple:rgba(103,57,241,255);
    --pink: rgb(243, 21, 125);
    --shadowBkack:#6c61ea91;
    --shadowWhite:#7686ff48;
}

body{
    background-color: var(--white);
    padding: 0;margin: 0;
    font-family: 'Syne', sans-serif;
   transition: all 0.3s ease;
}
.my-project-title h3{
     width: 100px;
     margin: auto;
     margin-top: 100px;
     font-size: 2rem;
     color: var(--black);
}
.hero{
    height: 85vh;
    position: relative;
    width: 100vw;
    background-image: linear-gradient(to right,var(--purple) 33%,var(--white) 0%);
    border-bottom: 10px solid rgba(103,57,241,255) ;
}
.font-white{
    color:var(--white);
}
.font-black{
    color:var(--black);
}
.font-underline{
    text-decoration: none;
}
.button{
    height: 50%;
    cursor: pointer;
    width: 30%;
    background-color:var(--purple);
    color: var(--white);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: ease 0.3s;
}

.nav{
    display: flex;
    margin-right: 8%;
    justify-content: space-between;
    width: 35vw;
    align-items: center;
}
.nav a:hover{
    color:var(--pink);
}
.button:hover{
    -webkit-box-shadow: 1px 5px 20px 0px rgba(209,178,255,1);
-moz-box-shadow: 1px 5px 20px 0px rgba(209,178,255,1);
box-shadow: 1px 5px 20px 0px rgba(209,178,255,1);

}

.nav-bar{
    z-index: 200;
    position:fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
    height: 50px;
  
    padding: 15px;
    align-items: center;

   
   
}
.sun{
    margin-right: 69px;
    font-weight: 900;
    font-size: 25px;
    color: var(--black);
}
.sunBlack{
    transition: all ease 0.5s;
    margin-right: 30px;
    font-size: 25px;
    color: var(--black);
}
.navNotScrolled{
    background-image: linear-gradient(to right,var(--purple) 32.4%,var(--white) 0%);
    transition: background-image ease 0.5s;
}
.navScrolled{
    background-image: linear-gradient(to right,var(--white) 32.4%,var(--white) 0%);
    transition: background-image ease 0.5s;
}
.boxShadow{
    box-shadow: 0 1px 10px var(--black); 
    transition: all ease 0.5s;
}

.nav-logo{
    margin-left: 10%;

}
.nav1 a p{
    color: var(--white);
}
.logoname{
    transition: all ease 0.5s;
}
.bid-circle{
    height: 20em;
    width: 20em;
    border: 15px solid var(--purple);
    border-radius: 79%;
    position: relative;
    left: 20%;
    z-index: 100;
    top: 15%;
    background-color:var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.inner-circle{
    height: 13em;
    width: 13em;
    border: 19px solid var(--purple);
    border-radius: 79%;
    position: relative;

}
.inner-circle img{
    height: 13em;
    width: 13em;
    border-radius:79% ;
}
.social a {
    text-decoration: none;
}
a{
    text-decoration: none;
}
.name{
 
    position: relative;
    top: -209px;
  left: 56%;
    z-index: 30;
    width: 26vw;
}
.cv{
    height: 40px;
    width: 150px;
    margin-top: 60px;
}
.social{
    position: absolute;
    top: 300px;
    right: 152px;
    
    display: flex;
    flex-direction: column;
}
.nav-mobile{
    display: none;
}
.social .icon-color{
    color: var(--white);
    font-size: x-large;
    margin-top: 15px;
}
.name h1,h4{
    color: var(--black);
}

/* About page */
.hero2{
    height: 95vh;
    position: relative;
    width: 100vw;
}
.hero2 h2{
    margin: auto;
    width: 208px;
}
.name h3{
    margin-top: 60px;
}
.skill1 svg{
    width: 30px;
    height: 50px;
    margin-right: 30px;
   
    transition: ease 0.3s;
}
.skill1 svg:hover{
   margin-bottom: 15px;
    
   
}
.moon1{ transition: ease 0.3s;
    display: inline;
    margin-right: 80px;
    font-size: 25px;

}
footer{
    height: 100px;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
  justify-content: center;
  align-items: center;
   
}
.servics .hh{
    color: var(--black);
 
}
.content-footer{
       display: flex; 
       justify-content: space-between;
       width: 90vw;
}
.content-footer h4{
    color: var(--white);
}
.content-footer ul{
    display: flex;
    width: 405px;
  justify-content: space-between;
}
.content-footer ul li a{
    color: var(--white);
    font-size: larger;
}
.copy-right p {
	color: var(--white);
}
.soc {
	width: 15%;
	display: flex;
	justify-content: space-between;
	height: -25px;
	align-items: center;
}
.soc i{
font-size: x-large;
transition: all 0.3s ease;
}
.soc i:hover{
    transform:translateY(-10px) ;
}

.nav1{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    align-items: center;
}
textarea{
    background-color: var(--white);
    color: var(--black);
}
input{
    background-color: var(--white);
    color: var(--black);
}
legend{
    color: var(--black);
}
.nav-bar1{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    height: 50px;
    background-color: transparent;
    padding: 15px;
    align-items: center;
}
.copy {
    margin: auto;
    position: relative;
    top: 100px;
    width: 200px;
}
.hero2 h2 {
	margin: auto;
	width: 208px;
	margin-top: 135px;
}
/* contact section */
.main p{
    margin: auto;
    width: 20%;
    font-size: x-large;
    font-weight: 600;

}
.main{
    width: 100vw;
}

.letter{
    width: 35vw;
    margin: auto;
    margin-top: 100px;
}
.nameemail{
    display: flex;
}
.nameemail input{
    border: none;
    width: 90%;
}
.nameemail input{
   outline: none;
}
li a{
    text-decoration: none;
    color: var(--black);
}
.success{
    color: var(--black);
}
.nameemail fieldset{
    width: 45%;
    border: 2px solid rgb(125, 125, 125);
}
.nameemail fieldset:focus-within{
   
    border-color: var(--black);
}
.msgsuc{
    color: var(--black);
}
#f1 textarea{
    outline: none;
    border: none;
    height: 35vh;
    width: 95%;
    vertical-align: top;
    padding: 0;
    margin: 0;
    resize: none;

}
#f1{
    border: 2px solid rgb(125, 125, 125);
    height: 40vh;
}
#f1:focus-within{
    border: 3px solid var(--black);
}
.b1{
    margin: auto;
   margin-top: 100px;
    height: 50px;
   
   
    font-size: larger;
}

textarea{
    font-family: "Syne", sans-serif;
    font-size: large;
}
.box{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,var(--white) 2%,var(--purple) 98% );

}
.hero2 h2{
    color: var(--black);
}
.github{
    width:150;
    height:150;
    font-size: 35px;
    position: relative;
    top: -10px;
}
@media screen and (max-width:500px){
    .name p{
        width: 90vw;
        margin: auto;
        margin-top: 30px;
    }
    .name {
      height: 600px;
    }
    /* footer {
        height: 100px;
        align-items: flex-start;
        margin-top:100px;
    } */
    .skill1{
        width: 85vw;
        margin: auto;
    }
}
/* Service page */
.servics{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
   background-color: var(--white);
   transition: all 0.3s ease;
    
}
.servics .hh{
    color: var(--black);
    font-size:xx-large;
    font-weight: 600;
    margin: 0;
}
.service-card{
    display:flex;
    justify-content: space-around;

}
.service-card{
    width:79vw;
}
.service-card .card{
    padding: 35px;
    width: 200px;
    height: 250px;
    text-align: center;
    box-shadow: 0 1px 74px var(--shadowWhite);
    transition: all 0.5s ease;
    margin-top: 38px;
}
.service-card .card .know{
    height: 43px;
    width: 165px;
  margin: 17px;
}
.card h3,p{
    color: var(--black);
}
.moon{
    font-size:20px;
   
    color: var(--black);
}
.code{
    font-size: xx-large;
    
    color:var(--purple);
    font-weight: 700;
}
.bar{
    display: none;
}
.moon1{
    display: inline;
}
.knowmore{
   transition: all ease 0.5s;
    position: fixed;
    z-index: 200;
    width: 100vw;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(24px);
    background-color: rgba(167, 180, 220, 0.4);
    /* border: 2px solid black;
    background-color: aquamarine; */
    height: 100vh;
}
.knowmore h3{
    margin: auto;
    position: relative;
    top: 308px;
}

li::marker {
    color:var(--purple); /* Change the color of the bullet points */
    font-size: larger;
}
.close{
    font-size: xx-large;
    color: var(--purple);
    position: relative;
    left: 123px;
    top: 301px;
    font-weight: 700;
}
.name h3 {
	margin-top: 60px;
    color: var(--black);
   
}

.details{
    margin-top: 50px;
  color: gray;
  width: 14%;
  margin: auto;
   
  margin-top: 15%;
  background-color: var(--white);
  padding: 100px 60px;
}
.social .icon-color{
    color :var(--black);
}

/* portfolio page start */


    .portfolio-grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
      
        margin-top: 150px;
        margin: auto;
        margin-top: 150px;
        width: 70%; transition: all 0.3s ease;
    }
    
    .portfolio-grid-container .portfolio h3 {
        color: var(--black);
    }
.portfolio-grid-container .portfolio .img{
    background-image: url('snake.png');
    height: 200px;
    width: 300px;
    filter: grayscale(100%); 
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease;
}
.portfolio-grid-container .portfolio .img2{
    background-image: url('ecom.png');
    height: 200px;
    width: 300px;
    filter: grayscale(100%); 
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease;
}
.portfolio-grid-container .portfolio .img:hover{
    filter: grayscale(0%); 
   transform: scale(1.2);
     transition: all 0.3s ease;
    
}
.portfolio-grid-container .portfolio .img2:hover{
    filter: grayscale(0%); 
   transform: scale(1.2);
     transition: all 0.3s ease;
    
}
.portfolio-grid-container .portfolio .img:hover i{
    opacity: 1;
}
.portfolio-grid-container .portfolio .img i{
    opacity: 0;
    transition: all 0.3s ease;
    transform: rotate(45deg);
    position: relative;
    right: -264px;
  top: 7px;
    font-size: 25px;
    color: var(--purple);
}
.portfolio-grid-container .portfolio .img2:hover i{
    opacity: 1;
}
.portfolio-grid-container .portfolio .img2 i{
    opacity: 0;
    transition: all 0.3s ease;
    
    position: relative;
    right: -264px;
  top: 7px;
    font-size: 25px;
    color: var(--purple);
}
/* media query1 */
@media screen and (min-width:812px) and (max-width:995px) {
   
    .navNotScrolled{
        background-image: linear-gradient(to right,var(--purple) 31.9%,var(--white) 0%);
        transition: background-image ease 0.5s;
    }

    .nav {
        
        margin-right: 10%;
        
        width: 45vw;
       
    }
    .bid-circle {
       
        left: 13%;
        
    }
    .hero {
        height: 45vh;
      }
      .name {
        position: relative;
        top: -209px;
        left: 55%;
        z-index: 30;
        width: 40%;
    }
    .b1 {
        margin: auto;
        margin-top: 100px;
        height: 60px;
        font-size: larger;
        padding: 2px;
        width: 98vw;
    }
    .soc {
        width: 23%;
        display: flex;
        justify-content: space-between;
    }
    .letter {
        width: 60vw;
        margin: auto;
        margin-top: 100px;
    }
}
@media screen and(min-width:584px) and (max-width:811px) {
    .bid-circle {
        height: 300px;
        width: 300px;
        left: 11%;
    }
    .navNotScrolled {
        background-image: linear-gradient(to right,var(--purple) 31.8%,var(--white) 0%);
        transition: background-image ease 0.5s;
    }
    .nav {
        
        width: 45vw;
       margin-right: 10%;
      
    }
    .hero {
        height: 50vh;
       
    }
    .service-card .card {
       color: var(--white);
        box-shadow: 0 12px 74px var(--shadowWhite);
       
        
    }
    .nav1 {
        width: 36vw;
     }
     .social {
        position: absolute;
        top: 417px;
        right: 43px;
       flex-direction: row;
        
        justify-content: space-between;
        width: 12vh;
    }
    .name {
        left: 54%;
        width: 45vw;
    }
       .letter {
        width: 70vw;
     }
     /* footer {
        height: 15vh;
     
    } */
    .copy {
     
        top: 17px;
       
    }
    .soc {
        width: 20%;
      
    }
    .details {
    
        width: 28%;
       
    }
}
@media screen and (max-width:783px){
    .nav-bar {
      /* background-color: var(--purple); */
     
    
      z-index: 100;
   
     
    }
    .portfolio-grid-container {
        width: 80%;
        grid-template-columns: auto;
      
     
    }
    .b1 {
        margin: auto;
        margin-top: 100px;
        height: 60px;
        font-size: larger;
        padding: 2px;
        width: 90vw;
    }
    .hero2 {
        height: 63vh;
        position: relative;
        width: 100vw;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        height: 90%;
        margin-top: 100px;
    }
    .content-footer{
        
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 54%;
    justify-content: space-between;
    }
    .copy-right p{
        color: var(--white);
    }
    .content-footer h4{
        font-weight: 700;
        color: var(--white);
    }
    .content-footer ul{
        display: flex;
        text-align: center;
        width: 315px;
        justify-content: space-between;
        padding: 0;
    }
    .content-footer ul li a{
        color: var(--white);
    }
    .font-underline {
        color: var(--var(--white));
        text-decoration: none;
    }
    .nav {
        display: none;
       
    }
    .hero{
        height: 85vh;
        position: relative;
        width: 100vw;
        background-image: linear-gradient(to bottom,var(--purple) 25%,var(--white) 0%);
        border-bottom: 10px solid rgba(103,57,241,255) ;
        transition: all 0.3s ease;
    }
    .bid-circle {
        height: 250px;
        width: 250px;
        left: 14%;
       top: 10%;
       border: 10px solid var(--purple);
    }
    .inner-circle img {
        height: 160px;
        width: 160px;
        border-radius: 79%;
       
    }
    .inner-circle {
        height: 160px;
        width: 160px;
        border: 12px solid var(--purple);
    }
    .navNotScrolled {
        background-image: linear-gradient(to bottom,var(--purple) 33%,var(--purple) 0%);
       
    }
    .nav-logo {
        margin-left: 0%;

    }
    .font-underline {
        color: var(--white);
        text-decoration: none;
        font-size: large;
    }
    .skill1{
        width: 300px;
        margin: auto;
    }
    .name h3 {
        margin: auto;
        margin-top: 60px;
        color: var(--black);
        width: 150px;
        margin-bottom: 50px;
    }
    .hamburger-bar{
        margin-right: 40px;
    }
    .hamburger-bar .bar{
        font-size: 25px;
        color: var(--white);

    }
    .moon{
        margin-right: 30px;
        font-size: 25px;
        color: var(--white);
        transition: all ease 0.5s;
    }
    .navScrolled {
        background-image: linear-gradient(to right,var(--white) 32.4%,var(--white) 0%);
        transition: all ease 0.5s;
        z-index: 200;
    }
    .font-black {
        transition: all ease 0.5s;
        color: var(--black);
    }
    .moonBlack{
        transition: all ease 0.5s;
        margin-right: 30px;
        font-size: 25px;
        color: var(--black);
    }
    .bar-black{
        transition: all ease 0.5s;
        font-size: 25px;
        color: var(--black);
    }
    .name {
        margin-top: 120px;

       position:static;
        z-index: 30;
    }
    .name h1{
        font-size: larger;
        margin: auto;
        width: 68%;
    }
    .main p {
        margin: auto;
        width: 64%;
        font-size: x-large;
        font-weight: 600;
    }
    .nameemail fieldset {
        width: 90%;
        border: 2px solid rgb(125, 125, 125);
    }
    .name h4{
        margin: auto;
      margin-top: 20px;
        width: 35%;
        color: var(--black);
    }
    .social {
        position: absolute;
        top: 460px;
        right: 152px;
        display: flex;
        flex-direction:row;
        width: 100px;
        justify-content: space-between;
       
    }
    .social .icon-color{
        color :var(--black);
    }
    .button {
      position: relative;
      left: 26%;
      top: 20px;
    }
    .hero {
        height: 75vh;
        
    }
    .service-card {
        background-color: var(--white);
        color: var(--black);
        width: 100vw;
        display: flex;
        flex-direction: column;
        transition: all ease 0.5s;
        
    }
    .service-card .card {
        margin: auto;
        margin-top: 50px;
        transition: all ease 0.5s;
    }
    .service-card .card .know {
        position: relative;
    right: 31px;
    top: 30px;
    left: 5px;
    transition: all ease 0.5s;
    }
    .button {
      position: static;
      margin: auto;
      margin-top: 80px;
      transition: all ease 0.5s;
    }
    .details {
        
        width: 55%;
        height: 15%;
        transition: all ease 0.5s;
    }
    .close {
        
        left: 123px;
        top: 135px;
        transition: all ease 0.5s;
    }
    .knowmore h3 {
        width: 200px;
        top: 104px;
        transition: all ease 0.5s; 
    }
    .knowmore {
        position: fixed;
        top: 78px;
        transition: all ease 0.5s;
        
    }
    .moon1, .bar {
        display:inline;
    }
    .nav-logo {
        margin-left: 0%;
        width: 47vw;
        margin: auto;
    }
    .nav-bar1 {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        margin: 0 auto;
        flex-direction: column;
        height: 350px;
        background-color: transparent;
        padding: 15px;
        align-items: center;
    }
    /* footer {
        height: 250px;
        align-items: flex-start;
       
    } */
    .nav1 {
       justify-content: space-between;
       height: 140px;
        flex-direction: column;
       align-items: flex-start;
    }
    .nav-logo {
        margin-left: 0%;
        width: 45vw;
        /* margin: auto; */
    }
    .nav-bar1 {
      
        align-items:flex-start;
    }
    .soc {
        width: 45%;
        display: flex;
        justify-content: space-between;
    }
    .nav1 {
   
        width: 40%;
    }
    .copy {
        margin: auto;
        position: relative;
        top: -8px;
        width: 200px;
    }
    .details {
       
        height: 20%;
        border-bottom: 7px solid var(--purple);
    }
    .nav-bar1 {
        align-items: flex-start;
        position: relative;
        top: -44px;
    }
    .nav-mobile{
        
        height: 50vh;
        width: 100vw;
        position: fixed;
        z-index: 1000;
        background-color:var(--white);
         transform: translateY(-200%); 
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 12px 24px hsla(0, 0%, 0%, 0.548);
        transition: all 0.3s ease;
    }
    .nav-mobile .close-nav{
        position: absolute;
        top: 22px;
        right: 40px;
        font-size: 25px;
        color: var(--black);
        
    }
    .nameemail {
        display: flex;
        flex-direction: column;
        margin: auto;
        
    }
    .main {
        width: 100vw;
        margin-top: 100px;
    }
    .letter {
        width: 90vw;
        margin: auto;
        margin-top: 100px;
    }
    .nav-mobile ul {
        list-style: none;
        width: 200px;
        margin-top: -31px;
        text-align: center;
        font-size: large;
        position: relative;
        top: 36px;
        left: -7px;
    }
    .nav-mobile ul li{
        margin: 30px;
        color: var(--black);

    }
    .nav-mobile ul li .nav-btn{
       
        width: 120px;
        margin-top: 0px;
        height: 55px;
    }
    .moon1{
        display: inline;
    }
    .sun{
        margin-right: 30px;
        font-weight: 100;
        font-size: 25px;
        color: var(--black);
    }
    .sunBlack{
        transition: all ease 0.5s;
        margin-right: 30px;
        font-size: 25px;
        color: var(--black);
    }

}
@media screen and (max-height:700px){
    .hero {
        height: 120vh;
    }
}